{% extends "base.html" %}

{% block stylesheets %}
{%load static%}
<link rel="stylesheet" href="{% static 'account.css' %}" /> <!--Change stylesheet?-->
<link rel="stylesheet" href="{% static 'transitionpage.css' %}" />
{% endblock %}

{% block content %}
<div class="container-bordered">
<h1>Choose the site your team is visiting, {{name}}.</h1>
<a href="/account">Back to Account</a>
    <div class="rows">
        {% for site, full_name in sites.items %}
        <a class="acc-box {{site}}" href="{% url 'teamnewvisit' n=n site=site %}">{{full_name}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}